
.custom-modal {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    max-height: 100%;
    /* overflow: auto; */
  }
  
  .custom-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modalbutton{
    display: flex;
    justify-content: center;
    align-items: center;

  }